html {
    width: 100%;
}

body {
    color: black;
}

#container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background: #CFEEFF;

    h1 {
        font-size: 40px;
        color: black;
    }
}

nav {
    width: 25%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    
    a { 
        font-size: 25px;
        text-decoration: none;
        color: black;
    }

    .nav-item {
        display: inline-block;
        align-items: left;
        position: relative;
    }
    
    .nav-item:hover{
        background-color: #eed454;
    }

    .dropdown {
        padding-top: 20px;
        z-index: 1;
        display: none;
        background: #CFEEFF;
        width: 150px;
        position: absolute;
    }

    .nav-item:hover .dropdown {
        display: block;
    }
}

.content {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

h2 {
    font-weight: 700;
}

main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 1200px;
}

.problems {
    background: #F0F0F0;
    flex: 3;
    padding: 10px 10px;
}

.question {
    padding: 15px 0px;
}

.boxes {
    background: #F0F0F0;
    padding: 10px 10px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row1 {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row2 {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row2-1 {
    flex: 1;
    display: flex;
    justify-content: center;
}

.row2-2 {
    flex: 2;
    display: flex;
    justify-content: right;
    gap: 10px;
}

.row3 {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

.t-box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.t-box p {
    display: block;
    font-size: 15px;
    line-height: 1.2;
    text-align: left;
}

.t-box p:last-child {
    text-align: right;
    font-size: 12px;
}

.image-box {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.image-box1 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8p1ROo24-YnKcp2_hKo6eZFOqXAqR1QXh923ZQIXG-gm2OGBDfx4IUyZFA9Mm1rtWLlc&usqp=CAU);   
}

.image-box2 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUJEXpNihyAXOR6j4qYkb-wWPvpP7hGB6SWkhHNAiqm4LXIFZBSIgKCNi56CEzbFmsMsQ&usqp=CAU);
}

.image-box3 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGcLiUdf09TEyZ8bBGbLtLLrYwhy_i1YhMawdVW-BOTu04HtYL2B_aZ70XRmn5hn4CrJE&usqp=CAU);
}

.color-box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.color-box1 {
    background: gray;
}

.color-box2 {
    background: white;
}

.color-box3 {
    background: black;
}

.color-box4 {
    display: none;
    background: linear-gradient(#52ACFF, #FFE32C);
    width: 300px; 
}

aside {
    flex: 1;
    background: #F0F0F0;
    padding: 10px 10px;
}

.block {
    display: inline-block;
    width: 200px;
    height: 1em;
    background-color: yellow;
    vertical-align: middle;
}

@media (max-width: 768px) {
    #container {
        width: 90%; /* Changed to 90% */
    }
    aside {
        display: none;
    }
    .t-box {
        width: 300px; 
        border: 1px solid #6789DB;
        border-radius: 10px;
        box-shadow: 10px 10px 4px grey;
    }
    .t-box:nth-child(2),
    .t-box:nth-child(3) {
        display: none;
    }
    .image-box1 {
        display: none;
    }

    .image-box2, .image-box3 {
        width: 300px; 
    }
    .row3 {
        justify-content: center;
    }
    .color-box1, .color-box2, .color-box3 {
        display: none;
    }
    .color-box4 {
        display: block;
        
    }
}